@page "/employees"
@inject IEmployeeRequests EmployeeRequests
@inject IDocumentRequests DocumentRequests
@inject ISiteRequests SiteRequests
@inject IServiceRequests ServiceRequests
@inject NavigationManager NavigationManager
@inject ISessionValues SessionValues

<PageTitle>GuacaFactory - Employees</PageTitle>

@if (administrator?.EmployeeUsername is not null)
    {
        <div class="row justify-content alert alert-info align-content-center">
            <div class="col-8">
                <p style="font-size: 1.2em">You are logged and using the administration mode</p>
            </div>
        </div>
        
        @if (isCreateModalOpen)
        {
            <CreateModalEmployee OnClose="OnCreateModalClose"/>
        }
    }

<h1>Employees</h1>

<p>
    GuacaFactory's employees are the best in the world. They are the ones who make our products and services possible.
</p>

@if (employees == null)
{
    <LoadingSpinner/>
}
else
{
    <div class="row justify-content-center">
        <div class="col-12">
        @if (administrator?.EmployeeUsername is not null)
        {
            <div class="row justify-content-between align-content-center">
                <div class="col-2">
                    <button class="btn btn-primary" @onclick="OnCreateButtonClick">Create</button>
                </div>
                <div class="col-3">
                    @if (_sites is not null)
                    {
                        <select class="form-select" @onchange="OnSiteFilterChanged">
                            <option value="0">All services</option>
                            @foreach (var siteOption in _sites)
                            {
                                <option value="@siteOption.Id">@siteOption.Name</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input disable aria-label="Select service" placeholder="Select service"/>
                    }
                </div>
                <div class="col-3">
                    @if (_services is not null)
                    {
                        <select class="form-select" @onchange="OnServiceFilterChanged">
                            <option value="0">All services</option>
                            @foreach (var serviceOption in _services)
                            {
                                <option value="@serviceOption.Id">@serviceOption.Name</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input disable aria-label="Select service" placeholder="Select service"/>
                    }
                </div>
                <div class="col-4">
                    <input type="text" @oninput="OnSearchValueChanged" class="form-control" placeholder="Search by name"/>
                </div>
            </div>
        }
        else
        {
            <div class="row justify-content-end">
                <div class="col-2"></div>
                <div class="col-3">
                    @if (_sites is not null)
                    {
                        <select class="form-select" @onchange="OnSiteFilterChanged">
                            <option value="0">All services</option>
                            @foreach (var siteOption in _sites)
                            {
                                <option value="@siteOption.Id">@siteOption.Name</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input disable aria-label="Select service" placeholder="Select service"/>
                    }
                </div>
                <div class="col-3">
                    @if (_services is not null)
                    {
                        <select class="form-select" @onchange="OnServiceFilterChanged">
                            <option value="0">All services</option>
                            @foreach (var serviceOption in _services)
                            {
                                <option value="@serviceOption.Id">@serviceOption.Name</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input disable aria-label="Select service" placeholder="Select service"/>
                    }
                </div>
                <div class="col-4">
                    <input type="text" @oninput="OnSearchValueChanged" class="form-control" placeholder="Search by name"/>
                </div>
            </div>
        }
        </div>
        <table class="table table-hover table-responsive table-striped">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Phone</th>
                <th>City</th>
                <th>Service</th>
                <th>Site</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var employee in employees)
            {
                <tr style="cursor: pointer" @onclick="() => SelectEmployee(employee.Id)">
                    <td>
                        @if (employee.PictureUrl != null)
                        {
                            <img src="@DocumentRequests.GetDocumentViaUrl(employee.PictureUrl)" style="height: auto; width: 100px; aspect-ratio: 1/1; overflow: hidden;" alt="Employee picture" class="img-thumbnail"/>
                        }
                        else
                        {
                            <img src="image/account-25.png" style="height: auto; width: 100px; aspect-ratio: 1/1" alt="Employee picture" class="img-thumbnail"/>
                        }
                    </td>
                    <td>@employee.Firstname @employee.Lastname</td>
                    <td>@employee.Phone</td>
                    <td>@(employee.Address?.City ?? "Unknown")</td>
                    <td>@employee.ServiceName</td>
                    <td>@employee.SiteName</td>
                    <td>@employee.CreatedAt.ToString("dd/MM/yyyy")</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <th colspan="12">
                <div class="row justify-content-between">
                    <div class="col-6">
                        <div class="row">
                            <div>
                                <input type="number" value="@resultsPerPage" @onchange="OnResultsPerPageChanged" class="form-control" style="width: 100px; display: inline-block"/>
                                <span>result(s) per page</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary" @onclick="OnPreviousClicked">Previous</button>
                            </div>
                            <div class="col-auto">
                                <div>
                                    <span>Page </span>
                                    <input type="number" value="@currentPage" @onchange="OnPageChanged" class="form-control" style="width: 75px; display: inline-block"/>
                                </div>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary" @onclick="OnNextClicked">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            </tfoot>
        </table>
    </div>
}

@code {
    private bool isCreateModalOpen = false;
    private ICollection<Employee>? employees;
    
    private ICollection<Site>? _sites;
    private ICollection<Service>? _services;

    private int? _siteSelected = null;
    private int? _serviceSelected = null;

    private int currentPage = 1;
    private int resultsPerPage = 10;
    private string searchValue = "";
    private Administrator? administrator;

    protected override async Task OnInitializedAsync()
    {
        administrator = await SessionValues.GetSessionUser();
        employees = await EmployeeRequests.GetEmployeesByNameAsync(searchValue, _serviceSelected, _siteSelected, currentPage, resultsPerPage);

        _sites = await  SiteRequests.GetSitesAsync(1, 100);
        _services = await ServiceRequests.GetServicesAsync(1, 100);
    }
    
    private void OnCreateModalClose()
    {
        isCreateModalOpen = false;
    }

    private async Task OnPageChanged(ChangeEventArgs e)
    {
        currentPage = e.Value!.ToString() == "" ? 1 : int.Parse(e.Value.ToString() ?? string.Empty);
        employees = await EmployeeRequests.GetEmployeesByNameAsync(searchValue, _serviceSelected, _siteSelected, currentPage, resultsPerPage);
    }

    private async Task OnResultsPerPageChanged(ChangeEventArgs e)
    {
        resultsPerPage = e.Value!.ToString() == "" ? 10 : int.Parse(e.Value.ToString() ?? string.Empty);
        employees = await EmployeeRequests.GetEmployeesByNameAsync(searchValue, _serviceSelected, _siteSelected, currentPage, resultsPerPage);
    }

    private async Task OnPreviousClicked()
    {
        if (currentPage > 1)
        {
            currentPage--;
            employees = await EmployeeRequests.GetEmployeesByNameAsync(searchValue, _serviceSelected, _siteSelected, currentPage, resultsPerPage);
        }
    }
    
    private void SelectEmployee(int id)
    {
        NavigationManager.NavigateTo($"/employees/{id}");
    }
    
    private async Task OnNextClicked()
    {
        currentPage++;
        employees = await EmployeeRequests.GetEmployeesByNameAsync(searchValue, _serviceSelected, _siteSelected, currentPage, resultsPerPage);
    }
    
    private async Task OnSiteFilterChanged(ChangeEventArgs e)
    {
        _siteSelected = e.Value!.ToString() == "0" ? null : int.Parse(e.Value.ToString() ?? string.Empty);
        employees = await EmployeeRequests.GetEmployeesByNameAsync(searchValue, _serviceSelected, _siteSelected, currentPage, resultsPerPage);
    }
    
    private async Task OnServiceFilterChanged(ChangeEventArgs e)
    {
        _serviceSelected = e.Value!.ToString() == "0" ? null : int.Parse(e.Value.ToString() ?? string.Empty);
        employees = await EmployeeRequests.GetEmployeesByNameAsync(searchValue, _serviceSelected, _siteSelected, currentPage, resultsPerPage);
    }
    
    private async Task OnSearchValueChanged(ChangeEventArgs e)
    {
        searchValue = e.Value!.ToString() ?? "";
        employees = await EmployeeRequests.GetEmployeesByNameAsync(searchValue, _serviceSelected, _siteSelected, currentPage, resultsPerPage);
    }
    
    private void OnCreateButtonClick()
    {
        isCreateModalOpen = true;
    }

}